@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

::-webkit-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}